{% load static %}
<!-- edit_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="edit-profile-container">
{% if not request.user.last_login %}
            <!-- Hide the "Back to Profile" link for the first login -->
        {% else %}
            <p><a href="{% url 'profile' %}">&#8592; Back to Profile</a></p>
        {% endif %}
        
        <h2>Edit Profile</h2>
        
        <form method="post" enctype="multipart/form-data" id="profile-form">
            
            <div class="profile-image-container">
                <div class="profile-image">
                    <!-- Add user profile image here -->
                    <a href="{{request.user.customerprofile.pic.url}}"><img src="{{ request.user.customer.profile_pic.url }}" id="profile-image"></a>
                </div>
                <br><br>
            {% csrf_token %}
            <div class="profile-buttons">
                <label class="button" for="id_clear_profile_pic">Remove<input type="checkbox" id="id_clear_profile_pic" name="clear_profile_pic" style="display:none;" onchange="clearProfileImage()"></label>
                <label class="button" for="id_change_profile_pic">Upload<input type="file" id="id_change_profile_pic" name="profile_pic" style="display:none;" onchange="readURL(this)"></label>
                </div>
            </div>
                <label for="id_name">Name:</label>
                <input type="text" id="id_name" name="name" {% if user.customer.name %}value="{{ user.customer.name }}"{% else %}placeholder="Enter your name"{% endif %} required>

                <label for="id_phone_number">Phone Number:</label>
                <input type="tel" id="id_phone_number" name="phone" 
                {% if user.customer.phone %} value="{{ user.customer.phone }}" {% else %} placeholder="+2341234567890" {% endif %}
                pattern="(\+234)?[0-9]{10,14}" title="Please enter a valid phone number with or without +234 (11-14 digits)" required>

                <label for="id_email">Email:</label>
                <input type="email" id="id_email" name="email" {% if user.customer.email %}value="{{ user.customer.email }}"{% else %}placeholder="Enter your email"{% endif %}{% if not user.customer.email %}{% endif %}>

                <label for="id_address">Address:</label>
                <textarea id="id_address" name="address" placeholder="Enter your address" required>{{ user.customer.address }}</textarea>
        
            <!-- Add other fields as needed -->
        
            <button type="submit">Save Changes</button>
        </form>
        <script>
        function clearProfileImage() {
            var profileImage = document.getElementById('profile-image');
            var clearCheckbox = document.getElementById('id_clear_profile_pic');
            var defaultImageUrl = "{% static 'images/profile_pics/profile1.png' %}";  // Replace with the actual path to your default image

            // If the clear checkbox is checked, set the source to the default image
            if (clearCheckbox.checked) {
                profileImage.src = defaultImageUrl;
            }
        }

            
        function readURL(input) {
            // Display the selected image immediately when changing the file input
            if (input.files && input.files[0]) {
                var reader = new FileReader();
    
                reader.onload = function (e) {
                    document.getElementById('profile-image').src = e.target.result;
                };
    
                reader.readAsDataURL(input.files[0]);
            }
        }
        window.onload = function () {
            var input = document.getElementById('id_change_profile_pic',);
            var input = document.getElementById('id_clear_profile_pic',);
                readURL(input);
        };
    </script>
        
       
    </div>
</body>
</html>

