{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="profile-container">
        <h1>Payment Successful!</h1>

        <p>Your payment was successful. Thank you for your purchase!, you get your order in few minutes.</p>

        <!-- Add other elements or styling as needed -->
   </div>
</body>
</html>


    