
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event.css' %}">


  

    <form method="post" action="{% url 'review_page' event_id=event.id %}">
      <p><a href="{% url 'event_form' %}">&#8592; Back</a></p>
      <h2>Review</h2>
      <p>Event: {{ event }}</p>
      {% csrf_token %}
    
      <table>
          <thead>
              <tr>
                  <th>Smallchops</th>
                  <th>Number of Guests</th>
              </tr>
          </thead>
          <tbody>
            {{ formset.management_form }}
              {% for form in formset %}
                  <tr>
                      <td  class="table">{{ form }}</td>
                        {% if messages %}
                        <ul class="messages">
                          {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </tr>

            {% endfor %}
          </tbody>
          
    </table>

      <button type="submit" class="btn btn-primary">Proceed</button>
  </form>
  
  </body>
  </html>