{% extends 'admin/base.html' %}

{% block content %}
<body>
    <p><a href="{% url 'home' %}">&#8592; Back</a></p>
    <hr>

<h1>{{ event.first_name }} {{ event.last_name }}'s Event Details</h1>

<ul>
    <li><strong>Customer:</strong> {{ event.customer }}</li>
    <li><strong>Address:</strong> {{ event.address }}</li>
    <li><strong>Date and Time:</strong> {{ event.datetime }}</li>
    <li><strong>Time Type:</strong> {{ event.get_time_type_display }}</li>
    <li><strong>Phone 1:</strong> {{ event.phone1 }}</li>
    <li><strong>Phone 2:</strong> {{ event.phone2 }}</li>
    <li><strong>Payment Status:</strong> {{ event.payment_status }}</li>
    <li><strong>Transaction ID:</strong> {{ event.transaction_id }}</li>
</ul>

<h2>Event Items:</h2>
<ul>
    {% for item in event.event_items.all %}
        <li>
            <strong>{{ item.product.name }}</strong> - Guests: {{ item.guest_count }}
        </li>
    {% endfor %}
</ul>

</body>
{% endfor %}
