{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<p><a href="{% url 'home' %}">&#8592; Back</a></p>
<br>
<a class="btn btn-sm btn-info"  href="{% url 'product_create' %}">create products</a>
<a class="btn btn-sm btn-info"  href="{% url 'create_category' %}">create category</a>
<hr>
<h2>Product List</h2>
<div class="card card-body">
  <table class=" table table-sm">
    
      {% for product in products %}
      <tr>
        <td><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></td>
        
        <td><a class="btn btn-sm btn-danger"  href="{% url 'product_delete' product.id %}">delete</a></td>
      {% endfor %}
    </tr>

  </table>
</div>  
{% endblock %}